#flat{
    color: #1abc9c;
    color: #2ecc71;
    color: #3498db;
    color: #9b59b6;
    color: #34495e;
    color: #16a085;
    color: #27ae60;
    color: #2980b9;
    color: #8e44ad;
    color: #2c3e50;
    color: #f1c40f;
    color: #e67e22;
    color: #e74c3c;
    color: #ecf0f1;
    color: #95a5a6;
    color: #f39c12;
    color: #d35400;
    color: #c0392b;
    color: #bdc3c7;
    color: #7f8c8d;


}